@import "compass"

//+reset-html5
+global-reset
$goldy: #7d7272
$blaze_purple: #6c3991

.mbs_video
	margin-top: 20px

em
	font-style: italic
	font-weight: normal 

=block
	display: block

=no_decor
	text-decoration: none

=center
	text-align: center

=serif-font-stack
	font-family: georgia, serif

=sans-font-stack
	font-family: helvetica, arial, sans-serif

=goldy_body_style
	+sans-font-stack
	color: $goldy
	line-height: 23px
	font-size: 0.9em
	padding-bottom: 1.3em

b
	font-weight: bold

//-----extendable youth..

#big_ass_headline
	font:
		family: 'News Cycle', helvetica, arial, sans-serif
		size: 29px
	letter-spacing: 0.1em
	color: #ACA498
	margin-top: 0.25em

#curvive_subhead
	font:
		style: italic
		size: 1.1em
	color: $goldy
	+center
	line-height: 21px
	+block
	margin-bottom: 1.9em

#page_section
	p
		+goldy_body_style


//--------------


html
	background: url('../images/blueback.png') repeat 0 0 #dae5e3
	height: 100%

body
	width: 960px
	height: 100%
	margin: 0 auto
	padding-top: 32px

header
	background: url('../images/header.png') no-repeat 0 0
	height: 227px

nav
	ul
		+horizontal-list
		li
			+horizontal-list-item(0, left)
			+center
			background-color: #eae5d5
			width: 20%
			padding: 14px 0
			text-transform: uppercase
			font-family: 'Arimo', sans-serif
			font-size: 0.82em
			letter-spacing: .2em
		li:hover
			background-color: #e2ddce
		li.current
			background-color: #D8D1BE
		a
			+link-colors(#7C7869, #5f5c50)
			+unstyled-link
			+text-shadow(1px 1px rgba(255, 255, 255, 0.34))



#content,
#main,
aside
	min-height: 100%


#content
	+background(url("../images/flowerbig.png") no-repeat 65% 337px, url('../images/flowersmall.png') 244px 89% no-repeat, url('../images/background.png') repeat)
	+pie-clearfix
	+box-shadow(rgba(0, 0, 0, 0.25) 0 3px 6px 2px)
	position: relative
	overflow: visible


#centered_big_body_text
	+center
	+serif-font-stack
	line-height: 30px
	letter-spacing: 0.06em
	text-transform: capitalize
	color: $goldy
	font-size: 17px

#script_header
	+center
	font-size: 80px
	font-family: cursive
	color: #a1989c
	margin-bottom: 14px

#main
	+box-sizing(border-box)
	background: rgba(255, 255, 255, 0.5)
	width: 	67.2%
	margin: 5.4%
	padding: 15px 33px 30px
	float: left
	border-width: 20px
	z-index: 100
	position: relative
	-webkit-border-image: url("../images/frame_pattern.png") 20 20 20 20 stretch
	h1
		@extend #script_header


.sandler_graphic
	float: left
	clear: both
	width: 100%
	height: 150px


#small_purple_text
	+sans-font-stack
	line-height: 17px
	color: #8c74a2
	text-transform: uppercase
	font-size: 14px
		

#pink_button
	+box-shadow(#ECC6B8 0 0 5px 2px inset, #e0b7b0 -2px 2px 0 0)
	+border-radius(2px)
	+text-shadow(1px 1px rgba(255, 255, 255, 0.45))
	+no_decor
	+inline-block
	line-height: 30px
	position: relative
	background: #f0d8d0
	padding: 3px 27px
	color: #726861
	float: right
	font:
		family: 'Arimo', helvetica, arial, sans-serif
		size: 0.73em
	letter-spacing: 0.3em
	text:
		transform: uppercase
		align: center
	&:hover
		+box-shadow(#e6c1b3 0 0 5px 2px inset, #dab2ac -2px 2px 0 0)
		background: darken(#f0d8d0, 2%)
	&:active
		+box-shadow(#d7b5a7 0 0 5px 2px inset)
		top: 2px
		right: 2px
		background: darken(#f0d8d0, 2%)






.home_page
	#main
		h1
			+hide-text
			margin-bottom: -14px
			background:
				image: url("../images/experience.png")
				repeat: no-repeat
				position: top center
			height: 114px
			width: 100%
		.location
			@extend #small_purple_text
			float: left
			text-align: center
			span
				text-transform: capitalize
		p.experience
			margin-bottom: 48px
			@extend #centered_big_body_text
		.directions
			a
				@extend #pink_button


aside
	width: 18%
	float: right
	padding: 2%
	ul.sponsors
		li 
			+box-sizing(border-box)
			margin-bottom: 12px
			a
				+block
				margin-bottom: 1px
				padding: 12px
			h2
				+sans-font-stack
				+center
				font-family: 'News Cycle', sans-serif
				letter-spacing: 1px
				font-size: 20px
				text-transform: uppercase
				color: #88807c
				margin: 31px 0 23px
		li.creative_catering 
			a
				+replace-text-with-dimensions('../images/ccov.png')
		li.wplogo
			a
				+replace-text-with-dimensions('../images/WPlogo.png')
		li.annalily 
			margin-top: 46px
			a
				+replace-text-with-dimensions('../images/annalily.png')

		li.ross
			margin-top: 20px
			margin-bottom: 0
			a
				color: red
				+replace-text-with-dimensions('../images/RClogo.png')


.flag
	color: #d9cf9e
	position: relative
	right: 16px
	margin-bottom: 8px
	+squish-text
	&.get_tickets
		a
			+replace-text-with-dimensions('../images/exhibit.png', 17px 223px)
			+block
	&.exhibit_with_us	
		a
			+replace-text-with-dimensions('../images/tickets.png', 17px 223px)
			+block

ul#footer
	+pie-clearfix
	li
		padding: 30px
		a
			+unstyled-link
			font-size: 0.8em
			color: #8d9a98
			text-transform: uppercase
	li.private_policy,
	li.photo_credits,
		+sans-font-stack
		letter-spacing: 1px
		float: left
	li.rights_reseved
		+serif-font-stack
		float: right
		letter-spacing: 3px



.about,
.contact_us,
.our_exhibitors,
.bridal_show_tips,
.exhibit_with_us,
.private_policy
	#main
		h1
			@extend #big_ass_headline
		i
			@extend #curvive_subhead
		section
			@extend #page_section


.exhibit_with_us	
	a.request_info
		@extend #pink_button
		margin: 0 auto
		float: none
		display: block
		width: 40%
	p
		+goldy_body_style


.bridal_show_tips
	ul.tips
		padding-bottom: 2em
		li
			+sans-font-stack
			line-height: 1.4em
			list-style-type: disc
			color: $goldy
			margin-bottom: 1em
			em
				font-style: normal
				color: $blaze_purple


.contact_us
	address,
	.email_link,
	.phone_number
		+center
		@extend #small_purple_text
		font-family: 'Arimo', helvetica, arial, sans-serif
		line-height: 20px

	.other_details
		+center
		.email_link,
		.phone_number
			a
				+no_decor
				@extend #small_purple_text
		.phone_number
			padding: 1em 0
			a
				font-size: 1.8em


.our_exhibitors
	#main
		h1
			margin-bottom: 0.8em
	ul.col_one, 
	ul.col_two, 
		color: $goldy
		font-style: italic
		float: left
		width: 50%
		line-height: 33px



.homepage_video
	margin-top: 33px