<ul id='footer'>
	<li class='private_policy'><a href="#">Private Policy</a></li>
	<li class='photo_credits'><a href="#">Photo Credits</a></li>
	<li class="rights_reseved"><a href="#">modern bridal showcase &copy; 2012</a></li>
</ul>