<nav>
	<ul>
		<li><a href='index.html'>home</a></li>
		<li><a href='our_exhibitors.html'>our exhibitors</a></li>
		<li><a href='about.html'>about</a></li>
		<li><a href='bridal_show_tips.html'>bridal show tips</a></li>
		<li><%= link_to 'contact us', 'contact_us.html' %></li>
	</ul>
</nav>