<aside>

	<ul>
		<li class='exhibit_with_us flag'><a href="http://www.eventbrite.com/org/2202698709" target='_blank'>Get Tickets</a></li>
		<li class='get_tickets flag'><a href="exhibit_with_us.html">Exhibit with us</a></li>
	</ul>

	<ul class='sponsors'>
		<li><h2>Sponsored by</h2></li>
		<li class='creative_catering'><a href="http://creativecateringva.com/" target="_blank">sponsored by</a></li>
		<li class='wplogo'><a href="http://premierbride.com/" target="_blank">sponsored by</a></li>
		<li class='annalily'><a href="http://annalily.com" target="_blank">sponsored by</a></li>
	</ul>

</aside>
