<% content_for :head do %>
  <title>Modern Bridal Showcase | About</title>
<% end%>

<% @page_class = 'about' %>

<h1>THE MODERN BRIDAL SHOWCASE</h1>
<i>is a valuable consumer wedding resource and has over 30 years <br>
of event planning throughout the Hampton Roads Area.</i>

<section>
	<p>MBS will soon become a premier consumer bridal marketing event in the Hampton Roads area and will continue to grow each year. Our sponsored tours will soon be in other areas of Virginia, visiting major areas at least once a year and reaching thousands of soon to be married couples, their families and friends, and actively involved in the wedding planning process. The events will occur in large, upscale venues and convention centers.</p>
	<p>Everything for the wedding: honeymoon is featured and on display. Bridal fashion shows are also included, and are one of the event highlights featuring the latest fashions. Other highlights include live orchestra and dj presentations, and aisles of exciting and informative exhibits.</p>
</section>

