<% content_for :head do %>
  <title>Modern Bridal Showcase</title>
<% end%>

<% @page_class = 'home_page' %>

<h1>Experience</h1>
<p class='experience'>
	The best wedding professionals. Dine at exquisite<br/>
	lunch buffets. Watch a fabulous show.</br>
	Chance to win amazing door prizes!
</p>

<p class="location">
	<b>Sandler Center for the performing arts</b>
	<br/>
	<span>At Towne Center in Virginia Beach</span>
</p>

<p class='directions'>
	<a href="https://maps.google.com/maps?q=sandler+center+virginia+beach&hl=en&hq=sandler+center&hnear=Virginia+Beach,+Virginia&t=m&z=11" target='_blank'>directions</a>
</p>