<% content_for :head do %>
  <title>Private Policy | Exhibit With Us</title>
<% end%>

<% @page_class = 'private_policy' %>

<h1>PRIVACY POLICY INFO:</h1>
<section>
	<p>As a user, customer, or contest entrant you will occasionally receive e-mails for special offers from affiliates, our advertisers and us. We hope you will find these updates interesting and informative. Please note that The Modern Bridal Showcase reserves the right to limit registration to those who will accept e-mails and to those who will provide the requested information.</p>
<a class='request_info' href="mailto:info@modernbridalshowcase.com">request information</a>
</section>