<% content_for :head do %>
  <title>Modern Bridal Showcase | bridal show tips</title>
<% end%>

<% @page_class = 'bridal_show_tips' %>

<h1>MBS IS HERE TO HELP YOU</h1>
<i>Modern Bridal Showcase will offer all the services <br> and tips you need to plan your dream wedding. </i>

<ul class='tips'>
	<li>Bring a note pad and have your questions written down so you won’t forget. </li>
	<li>Gather information and compare services</li>
	<li>Collect any information you are interested in - take it home to look over again when you have some quiet time.</li>
	<li>Bring a pen and print very clearly when registering for anything. </li>
	<li>Take notes. This will help you remember your favorite vendors.  </li>
	<li>Bring your checkbook if you decide to book any services, or hold dates with a deposit. Be sure to check on refund policies before giving any money, and read the contract carefully before signing.</li>
	<li>If you are out of town, send your mother or friend to register you for prizes and collect information on services you need.</li>
	<li>Don’t forget to attend the fashion show!</li>
</ul>

<h1>QUESTIONS TO ASK</h1>
<i>Our wedding professionals will save you time, money and energy! <br>
So get your list of questions ready in the following areas:</i>

<ul class='tips'>
	<li><em>FINANCIAL:</em> What are four areas of agreement that a couple needs for a joyful marriage?</li>
	<li><em>OFFICIATING:</em>  How much time in advance should one allow to obtain a marriage license?</li>
	<li><em>CONSULTING:</em>  Why get more than just day of coordination services?</li>
	<li><em>DECOR:</em>  What are the popular color schemes that can match my wedding theme?</li>
	<li><em>PHOTOGRAPHY:</em>  What can you do to prepare for your wedding day images?</li>
	<li><em>BEAUTY:</em>  Outdoor photos? Indoor photos? Will you still look the same on both photos?</li>
	<li><em>ENTERTAINMENT:</em>  How can I balance music between my friends and my parents' friends?</li>
	<li><em>FLORALS:</em>  What flowers are best to consider during your wedding time in the year?</li>
	<li><em>DESSERTS:</em>  What is the difference between a fondant cake and a butter cream cake? </li>
</ul>