<% content_for :head do %>
  <title>Modern Bridal Showcase | Contact Us</title>
<% end%>

<% @page_class = 'contact_us' %>

<h1>HAVE A QUESTION? </h1>
<i>We’d be happy to answer any MBS questions and <br>
assist you with preparing for the show</i>

<address>
	<b>MODERN BRIDAL SHOWCASE</b> <br>
	1300 Redgate Avenue <br>
	Norfolk, Virgina 23507 <br>
</address>

<div class="other_details">
	<div class="phone_number">
		<a href="callto:757.499.2002">757.499.2002</a>
	</div>
	<div class="email_link">
		<a href="mailto:info@modernbridalshowcase.com">info@modernbridalshowcase.com	</a>
	</div>
</div>