<% content_for :head do %>
  <title>Modern Bridal Showcase | Exhibit With Us</title>
<% end%>

<% @page_class = 'exhibit_with_us' %>

<h1>WHY EXHIBIT WITH US?</h1>

<p>When it comes to getting your business in front of the wedding market, 
the Modern Bridal Sowcase is going beyond traditional shows. We offer a complete turnkey system for marketing your business to brides and grooms. Our cost effective, comprehensive bridal show marketing program provides you with the one to one contact you expect from bridal shows, plus the ability to order a complete contact list.
</p>

<i>If you are interested in exhibiting your business with us, click <br>
“Request Information” and we will email you all the details!
</i>

<a class='request_info' href="mailto:info@modernbridalshowcase.com">request information</a>