<% content_for :head do %>
  <title>Modern Bridal Showcase</title>
<% end%>

<% @page_class = 'home_page' %>

<h1>Experience</h1>
<p class='experience'>
	The best wedding professionals. Dine at exquisite<br/>
	lunch buffets. Watch a fabulous show.</br>
	Chance to win amazing door prizes!
</p>

<p class="location">
	<em>Sandler Center for the performing arts</em><br/>
	At Towne Center in Virginia Beach
</p>

<p class='directions'>
	<a href="#">directions</a>
</p>