<% content_for :head do %>
  <title>Modern Bridal Showcase</title>
<% end%>

<% @page_class = 'our_exhibitors' %>

<h1>WE LOOK FORWARD TO MEETING YOU!</h1>

<ul class='col_one'>
	<li>Bridal Gowns</li>
	<li>Tuxedos</li>
	<li>Wedding Planner</li>
	<li>Florists</li>
	<li>Cakes & Desserts</li>
	<li>Photographers</li>
	<li>Bands & Orchestras</li>
	<li>Reception Locations</li>
	<li>Ceremony Sites</li>
	<li>Rehearsal Dinner</li>
	<li>Limousines</li>
	<li>Carriages</li>
</ul>

<ul class='col_two'>
	<li>Beauty</li>
	<li>Skin Care </li>
	<li>Hair Design</li>
	<li>Day Spa</li>
	<li>Catering</li>
	<li>Party Rental</li>
	<li>Honeymoon Travel</li>
	<li>Health & Fitness</li>
	<li>Chair Covers</li>
	<li>Linens</li>
	<li>Personal Stylist</li>
	<li>Bridal Party Gifts</li>
</ul>

<ul class='col_three'>
	<li><em>Invitations</em></li>
	<li>Videographers</li>
	<li>Publications & Media</li>
	<li>Dance Instruction</li>
	<li>Lingerie</li>
	<li>Wedding Insurance</li>
	<li>Bachelor Party</li>
	<li>Bachelorette Party</li>
	<li>Disc Jockeys</li>
	<li>ice art</li>
	<li>Photo Booth Rentals</li>
	<li>Bridal & Gift Registries</li>
	<li>Wedding Favors</li>
</ul>