<% content_for :head do %>
  <title>Modern Bridal Showcase</title>
<% end%>

<% @page_class = 'our_exhibitors' %>

<h1>WE LOOK FORWARD TO MEETING YOU!</h1>

<ul class='col_one'>
	<li>Creative Catering of Virginia</li>
	<li>The Bridal Dish</li>
	<li>Carolina Cupcakery</li>
	<li>Shutter Booth</li>
	<li>Micah Cummings Photography</li>
	<li>Sanderling Resort</li>
	<li>Baker Entertainment</li>
	<li>J. McFadden Event Design</li>
	<li>SnapQube</li>
	<li>Virginia Sports Hall of Fame & Museum</li>
	<li>Big Dreams Entertainment</li>
	<li>Touche' Weddings & Events</li>
	<li>Seasoned From Above</li>
	<li>The Perfect Pour*</li>
</ul>

<ul class='col_two'>
	<li>Pure Dymond Events</li>
	<li>Vemma By Amanda - Sundays Bluebox</li>
	<li>The Woman's Club of Portsmouth</li>
	<li>Black Iris Florist & Yacht Club at Marina Shores</li>
	<li>Inspired Events by Kelly</li>
	<li>Classy Covers | Classy Event Rentals</li>
	<li>Unique Sweets & Accessories</li>
	<li>Colonial Dj's</li>
	<li>ProAdjuster Chiropractic Clinic</li>
	<li>Mary Kay</li>
	<li>Long Jewelers</li>
	<li>David Champagne Photography</li>
	<li>Astro Entertainment</li>
	<li>Sweetwater Cuisine</li>
</ul>

<ul class='col_three'>
	<li>Norfolk Botanical Gardens</li>
	<li>3 Bowls of Color</li>
	<li>Custom Photography</li>
	<li>Jeff's Flowers, of Course</li>
	<li>Coastal Limos</li>
	<li>Legacy Limousine & Luxury Coaches</li>
	<li>Sand Shark Limos</li>
	<li>Smithfield Horse & Carriage, Ltd. </li>
	<li>Wedding Guide</li>
	<li>Virginia Dance</li>
	<li>Ice Art Inc.</li>
	<li>Sandler Center</li>
</ul>
